@font-face {
	font-family: 'Monaco';
	src: url('./Monaco.ttf');
}
body {
	margin: 0px;
	padding: 0px;
}
.About {
	height: 70vh;
	width: 95vw;
	padding-top: 30vh;
	padding-left: 5vw;
	top: 0;
	left: 0;
	background-color: antiquewhite;
	display: flex;
}
.About .left {
	width: 50%;
}
.About .left p, a {
	color: black;
	font-size: 2.5vmin;
	font-family: 'Monaco';
}
.About .right {
	width: 50%;
}
.About .right img {
	width: 60%;
}