@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dongle:wght@700&family=Noto+Sans+TC&family=Roboto:wght@100&display=swap');

/*--body--*/
body{
    background-color: rgb(220, 220, 220);
    margin:0px;
}

html{
    scroll-behavior: smooth;
    scroll-margin-top: -75px;
}