@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dongle:wght@700&family=Noto+Sans+TC&family=Roboto:wght@100&display=swap');

/*------------html----------*/
html{
    scroll-behavior: smooth;
    scroll-margin-top: -75px;
}

/*------------------------------------------------------------*/
/*------------body----------*/
body{
    background-color: rgba(50, 50, 50, 1);
    margin:0px;
}

/*------------------------------------------------------------*/
/*------------header------------*/
.header{
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0;
    transition-duration: 1s;
}
.header.active {
    background: rgb(220, 220, 220);
}

/*--ul--*/
.header ul{
    list-style: none;
}

/*--li--*/
.header li {
    display: inline-block;
}

/*--a--*/
.header a{
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.750);
    text-decoration: none;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
}
.header a:hover{
    color: white;
}
.header.active a{
    color: rgb(100, 100, 100);
}
.header.active a:hover{
    color: rgba(100, 100, 100, 0.750);
}

/*------------------------------------------------------------*/
/*------------Home------------*/
.Home{
    padding-top: 30vh;
    padding-left: 5vw;
    padding-bottom: 30vh;
    max-width: 100vw;
    max-height: auto;
    height: 40vh;
    background-position: center 0;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/*--h1--*/
.Home h1{
    font-size: 50px;
    color: white;
    padding-left: 50px;
    font-family: 'Comforter', cursive;
}

/*--ul--*/
.Home ul{
    list-style: none;
}

/*--li--*/
.Home li {
    display: inline-block;
}
.Home li::after{
    content: '/';
    color: rgba(255, 255, 255, 0.5);
}
.Home :last-child::after {
    display: none;
}

/*--a--*/
.Home a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 20px;
    font-family: 'Dongle', sans-serif;
}
.Home a:hover{
    color: orange;
}

img{
    z-index: 100;
}

/*------------------------------------------------------------*/
/*----------About----------*/
.About{
    padding-top: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    max-width: 100vw;
    padding-bottom: 10vh;
    background-color: rgb(130, 150, 170);
}

/*--h1--*/
.About h1{
    font-size: 45px;
    color: white;
    font-family: 'Comforter', cursive;
}

/*--terminal--*/
.terminal{
    padding-left: 15px;
    padding-top: 1px;
    font-family: monospace;
    border-radius: 0 0 10px 10px;
    max-width: 100%;
    height: fit-content;
    background-color: rgb(55, 55, 55);
    color: white;
    font-size: 18px;
}
.terminal-bar{
    display: flex;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    height: 30px;
    background-color: rgb(200, 200, 200);
}
.terminal-red{
    margin-top: 8px;
    margin-left: 8px;
    width: 15px;
    height: 15px;
    z-index: 1;
    background-color: rgb(230, 100, 100);
    border-radius: 50%;
    float: left;
}
.terminal-yellow{
    margin-top: 8px;
    margin-left: 8px;
    width: 15px;
    height: 15px;
    z-index: 1;
    background-color: rgb(240, 191, 80);
    border-radius: 50%;
    float: left;
}
.terminal-green{
    margin-top: 8px;
    margin-left: 8px;
    width: 15px;
    height: 15px;
    z-index: 1;
    background-color: rgb(100, 200, 90);
    border-radius: 50%;
    float: left;
}
.terminal a{
    text-decoration: none;
    color: #5290C2;
}
.terminal a:hover{
    text-decoration: underline;
}

/*------------------------------------------------------------*/
/*----------Blog----------*/
.Blog{
    padding-top: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 20vh;
    background-color: rgb(100, 140, 150);
}

/*--h1--*/
.Blog h1{
    font-size: 45px;
    color: white;
    font-family: 'Comforter', cursive;
}

/*--div--*/
.Blog-div{
    column-count: 3;
    column-gap: 0;
    margin: 0px auto;
    width: 100%;
}

/*--div2--*/
.Blog-div2{
    opacity: 1;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    break-inside: avoid;
}
.Blog-div2:hover{
    opacity: 0.7;
}

/*--div3--*/
.Blog-div3{
    position: relative;
}

/*--img--*/
.Blog img{
    max-width: 100%;
    vertical-align:top;
    height: auto;
}
.Blog-div2:hover img{
    transition-duration: 1s;
    overflow: hidden;
    scale: 1.2;
}

/*--div4--*/
.Blog-div4{
    display: none;
}
.Blog-div2:hover .Blog-div4{
    display: block;
}

/*--h2--*/
.Blog-div4 h2{
    font-family: monospace;
    z-index: 1;
    position: absolute;
    bottom: 24px;
    left: 12px;
    font-size: 14px;
    float: left;
    border-radius: 40px;
    padding: 5px 15px 5px 15px;
    color: white;
    background-color: rgba(100, 200, 250, 0.3);
}

/*--div-5--*/
.Blog-div5{
    margin-top: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid rgb(190, 190, 190);
    text-align: center;
}
.Blog-div5 a{
    color: rgb(190, 190, 190);
    font-size: 36px;
    font-family: 'Dongle', sans-serif;
    text-decoration:none;
    list-style: none;
}
.Blog-div5:hover{
    scale: 1.03;
}

/*------------------------------------------------------------*/
/*----------Contact----------*/
.Contact{
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 50px;
    color: white;
    background-color: rgba(50, 50, 50, 1);
    break-inside: avoid;
    max-height: auto;
    overflow: hidden;
}

/*--div--*/
.Contact-div{
    display: flex;
    justify-content: space-between;
}

/*--div-left--*/
.Contact-div-left{
    font-family: 'Comforter', cursive;
    padding-top: 30vh;
    padding-bottom: 20vh;
    max-width: 100vw;
    height: 40vh;
}

/*--div-right--*/
.Contact-div-right{
    font-family: 'Dongle', sans-serif;
    padding-top: 20vh;
    padding-bottom: 20vh;
    max-width: 100vw;
    height: 50vh;
}

/*--a1--*/
.Contact-a1{
    color: rgba(200, 200, 200, 1)
}

/*--a2--*/
.Contact-a2{
    color: white;
    text-decoration: none;
}
.Contact-a2:hover{
    color: orange;
}

.Contact-div2{
    font-family: 'Dongle', sans-serif;
    height: 10vh;
    font-size: 24px;
}