/*--header--*/
.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    transition-duration: 1s;
}
.header.active {
    background: rgb(220, 220, 220);
}
.header ul{
    list-style: none;
}
.header li {
    display: inline-block;
}
.header a{
    font-size: 5vh;
    color: rgba(255, 255, 255, 0.750);
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    padding-right: 1vw;
}
.header a:hover{
    color: white;
}
.header.active a{
    color: rgb(100, 100, 100);
}
.header.active a:hover{
    color: rgba(100, 100, 100, 0.750);
}