/*--phone--*/
@media only screen and (min-width: 0px) and (max-width: 320px) {
    .class {
        background: #666; 
    } 
}

/*--tablet--*/
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .class {
        background: #666; 
    } 
}

/*--desktop--*/
@media only screen and (min-width: 769px){
    .class {
        background: #666; 
    } 
}

/*--Home--*/
.Home{
    padding-top: 30vh;
    padding-left: 5vw;
    padding-bottom: 30vh;
    max-width: 100vw;
    max-height: auto;
    height: 40vh;
    background-position: center 0;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/*--h1--*/
.Home h1{
    font-size: 50px;
    color: white;
    padding-left: 50px;
    font-family: 'Comforter', cursive;
}

/*--ul--*/
.Home ul{
    list-style: none;
}

/*--li--*/
.Home li {
    display: inline-block;
}
.Home li::after{
    content: '/';
    color: rgba(255, 255, 255, 0.5);
}
.Home :last-child::after {
    display: none;
}

/*--a--*/
.Home a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 20px;
    font-family: 'Dongle', sans-serif;
}
.Home a:hover{
    color: orange;
}