/*--Home--*/
.Home{
    padding-top: 20vh;
    padding-left: 5vw;
    padding-bottom: 40vh;
    height: 40vh;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}
.Home h1{
    padding-left: 7vw;
    color: white;
    font-size: 10vmin;
    font-family: 'Comforter', cursive;
}
.Home ul{
    list-style: none;
}
.Home li {
    display: inline-block;
}
.Home li::after{
    content: '/';
    color: rgba(255, 255, 255, 0.5);
}
.Home :last-child::after {
    display: none;
}
.Home a{
    text-decoration: none;
    color: white;
    font-family: 'Dongle', sans-serif;
    font-size: 5vmin;
    padding-left: 1vw;
    padding-right: 1vw;
}
.Home a:hover{
    color: orange;
}